{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Edit your profile" %}{% endblock %}
{% block content %}
<div style="margin-left: 40%; margin-right: 40%; margin-top: 2%">
    <h1>{% trans "Edit your profile" %}</h1>
    <p>{% trans "You can edit your profile using the following form:" %}</p>
    <form method="post" enctype="multipart/form-data">
        {{ user_edit_form|crispy }}
        {{ profile_edit_form|crispy }}
        {% csrf_token %}
    <p><input type="submit" class="btn btn-primary" value="Save changes"></p>
    </form>
    <h5>{% trans "You have changed your profile information" %},<br> {% trans "you can also change your password" %} <a href="{% url 'change_password' %}" style="color: blue">{% trans "here" %}</a></h5>
</div>
{% endblock %}
