{% extends "account/base.html" %}
{% load i18n %}
{% block title %}{% trans "Payment success!" %}{% endblock %}
{% block content %}
<center>
    <h1>{% trans "Hi {{ user.username }}!" %}</h1>
    <p>
        {% trans "Now you can see your payment at" %} <a href="{% url "movements" %}">{% trans "your movements" %}</a>.
    </p>
    <form action="{% url 'payments:payment_pdf' movement.id %}" method="get" target="_blank">
        <button class="bg-secondary btn btn-primary" type="submit">Export PDF</button>
    </form>
</center>
{% endblock %}