{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Movement detail" %}{% endblock %}
{% block content %}
<center>
    <h4 class="top-margin">{% trans "Movement done at" %}: {{ movement.timestamp|date:"g:i A d F Y" }}</h4>
    <table>
        <tr>
            <th>{% trans "Business" %}</th>
            <td>{{ movement.business }}</td>
        </tr>
        <tr>
            <th>{% trans "Card" %}</th>
            <td>{{ movement.card }}</td>
        </tr>
        <tr>
            <th>{% trans "Kind" %}</th>
            <td>{{ movement.kind }}</td>
        </tr>
        <tr>
            <th>{% trans "Amount" %}</th>
            <td>{{ movement.amount }} €</td>
        </tr>
    </table>
    <!--No se si funciona, comprobar-->
    <form action="{% url 'payments:payment_pdf' movement.id %}" method="get" target="_blank">
        <button class="bg-secondary btn btn-primary" type="submit">Export PDF</button>
    </form>
</center>
{% endblock %}