{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Transaction" %}{% endblock %}
{% block content %}
<div style="margin-left: 40%; margin-right: 40%; margin-top: 2%">
    <h1>{% trans "Transaction" %}</h1>
    <p>{% trans "Please fill up the following form" %}</p>
    <form method="post">
        {{ transaction_form|crispy }}
        <p><input type="submit" class="btn btn-primary" value="{% trans 'Send money' %}"></p>
        {% csrf_token %}
    </form>
</div>
{% endblock %}
