{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "About us" %}{% endblock %}
{% block content %}
<br>
<div style="margin-left: 25%; margin-right: 25%">
    <div class="card">
        <div class="card-statistic-3 p-4">
            <div>
                <h3>{% trans "About us"}</h3>
                <h5 class="about_us">
                    {% trans "We, A.M.Y.X Bank, are a ficticial bank created for a proyect in the second year of DAW (Developer de Aplication Web)" %}
                </h5>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-statistic-3 p-4">
            <div>
                <h3>{% trans "Commissions" %}</h3>
                <p class="about_us">
                    {% trans "These are the commissions we apply to all transactions and payments" %}
                    <ul>
                        <li class="about_us">{% trans "Small commissions is for movements below 50€" %}</li>
                        <li class="about_us">{% trans "Medium commissions is for movements above 50€ and below 500€" %}</li> 
                        <li class="about_us">{% trans "Large commissions is for movements above 500€" %}</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <table style='border:1'>
            <tr>
                <td></td>
                <td>{% trans "Small" %}</td>
                <td>{% trans "Medium" %}</td>
                <td>{% trans "Large" %}</td>
            </tr>
            <tr>
                <td>{% trans "Payments" %}</td>
                <td class="about_us">{% trans "3% of commissions" %}</td>
                <td class="about_us">{% trans "5% of commissions" %}</td>
                <td class="about_us">{% trans "7% of commissions" %}</td>
            </tr>
            <tr>
                <td>{% trans "Incoming" %}</td>
                <td class="about_us">{% trans "1% of commissions" %}</td>
                <td class="about_us">{% trans "2% of commissions" %}</td>
                <td class="about_us">{% trans "3% of commissions" %}</td>
            </tr>
            <tr>
                <td>{% trans "Outgoing" %}</td>
                <td class="about_us">{% trans "2% of commissions" %}</td>
                <td class="about_us">{% trans "4% of commissions" %}</td>
                <td class="about_us">{% trans "6% of commissions" %}</td>
            </tr>
        </table>

    </div>

</div>

{% endblock %}