{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% load static %}
{% load bootstrap5 %}
{% block content %}
    <div class="container-fluid">
        
        <br>
        <div class="risk">
            <div class="row d-flex justify-content-center">
                <div class="risk1 col-6 col-md-4">
                    <p class="inside-risk-container d-flex"><span class="risk-n">1/6</span><br>
                        This number is indicative of the risk of the product,
                      1/6 being indicative of lower risk and 6/6 indicating higher risk.
                    </p>
                </div>
                <div class="risk2 col-6 col-md-4 ">
                    <p class="inside-risk-container">
                        A.M.Y.X Bank is attached to the Credit Institutions Deposit Guarantee Fund.
                      For cash deposits, the maximum guaranteed amount is 100,000 euros per depositor in each credit institution.
                    </p>
                </div>
            </div>
        </div>
        </div>
            <div class="content" style="margin-left: 20%;">
                <div class="content-img">
                    <a href="https://www.youtube.com/channel/UCX6OQ3DkcsbYNE6H8uQQuVA"><img src="{% static 'img/mr_beast.avif' %}" style="width:500px; height:400px"></a>
                </div>
                <div class="products">
                    <div class="row">
                        <div class="col-md-4 d-sm-none d-lg-block">
                            <div class="product1">
                                <a href="https://sdgs.un.org/es/goals/goal1"><img src="{% static 'img/5.png' %}" height="350px" width="350px" alt="" class="img-fluid mb-3 d-none d-md-block"></a>
                            </div>
                        </div>
                        <div class="col-md-4 d-sm-none d-lg-block">
                            <div class="product1">
                                <a href="https://sdgs.un.org/es/goals/goal2"><img src="{% static 'img/6.png' %}" height="350px" width="350px" alt="" class="img-fluid mb-3 d-none d-md-block"></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product1">
                                <a href="https://sdgs.un.org/es/goals/goal3"><img src="{% static 'img/7.png' %}" height="350px" width="350px" alt="" class="img-fluid mb-3 d-none d-md-block"></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="product1">
                                <a href="https://sdgs.un.org/es/goals/goal4"><img src="{% static 'img/8.png' %}" height="350px" width="350px" alt="" class="img-fluid mb-3 d-none d-md-block"></a>
                            </div>
                        </div>
                        <div class="col-md-4 d-none d-lg-block">
                            <div class="product1">
                                <a href="https://sdgs.un.org/es/goals/goal5"><img src="{% static 'img/9.png' %}" height="350px" width="350px" alt="" class="img-fluid mb-3 d-none d-md-block"></a>
                            </div>
                        </div>
                        <div class="col-md-4 d-none d-lg-block">
                            <div class="product1">
                                <a href="https://sdgs.un.org/es/goals/goal6"><img src="{% static 'img/10.png' %}" height="350px" width="350px" alt="" class="img-fluid mb-3 d-none d-md-block"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        <header class="showcase">
            <div class="row img-elements">
                <a href="{% url 'outgoing' %}" class="col-md-3"><img src="{% static 'img/1.png' %}" alt="" class="imag_showcase"></a>
                <a href="{% url 'accounts' %}" class="col-md-3"><img src="{% static 'img/12.jpg' %}" alt="" class="imag_showcase"></a>
                <a href="{% url 'cards' %}" class="col-md-3"><img src="{% static 'img/3.png' %}" alt="" class="imag_showcase d-sm-none d-lg-block"></a>
                <a href="{% url 'payments' %}" class="col-md-3"><img src="{% static 'img/13.png' %}" alt="" class="imag_showcase d-sm-none d-lg-block"></a>

            </div>
        </header>
        

{% endblock %}