{% extends "base.html" %}
{% block title %}Your cards {% endblock %}
{% block content %}
    {% if cards %}
        <div style="margin-left: 10%; margin-right:10%;">
            <h1>Your cards {{ user.username }}:</h1>
            <ul>
                {% for account, cards in cards.items %}
                    <div class="mb-4 d-flex justify-content-between align-items-center">
                        <h3 class="card-title mb-0">{{ account.account_name }} account card's:</h3>
                        <h5 class="total">Account balance: {{ account.balance }} €</h5>
                    </div>
                    {% for card in cards %}
                        <li class="card">
                            <div class="card-statistic-3 p-4">
                                <div class="mb-4 d-flex justify-content-between align-items-center">
                                    <h3 class="card-title mb-0"><a href="{{ card.get_absolute_url }}"> {{ card.card_name }}</a></h3>
                                </div>
                            </div>
                            <div class="card-statistic-3 p-4">
                                <div class="mb-4 d-flex justify-content-between align-items-center">
                                    <h3 class="card-title mb-0">Card code: </h3>
                                    <h5 class="total"> {{ card.card_code }} </h5>
                                    <p><a class="btn btn-primary" href="{% url 'card_edit' card.id %}">Edit your Card</a></p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <h1>You do not have cards <span style="color: orange">{{ user.username }}</span>, create some with the following <a style="color: blue" href="{% url 'create_card' %}">link</a></h1>
    {% endif %}
{% endblock %}
