{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Account detail" %}{% endblock %}
{% block content %}
    <div class="card_detail"> 
        <div class="card-statistic-3 p-4">
            <div class="mb-4 justify-content-between align-items-center">
                <div>
                    <h2 class="card-title">{{ card.card_name }}</h2>
                    <h3 class="total">{{ card.balance }} </h3>
                    <div class='help'></div>
                </div>
                <div>
                    <h4 class="iban">IBAN:</h4>
                    <h4 class="account">{{ cuenta.account_code }}</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
