{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Edit your card" %}{% endblock %}
{% block content %}
<div style="margin-left: 40%;">
    <h1>{% trans "Edit your" %} {{ card.card_name }} {% trans "Card" %}</h1>
    <p>{% trans "Please use the following form" %}</p>
    <form method="post">
        {{ card_edit_form.as_p }}
        <p><input type="submit" class="btn btn-primary" value="Edit my account" onclick="card_edit()"></p>
        {% csrf_token %}
    </form>
</div>
{% endblock %}