{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Your cards" %}{% endblock %}
{% block content %}
    {% if cards %}
        <div style="margin-left: 10%; margin-right:10%; margin-top: 20px;">
            <h1>{% trans "Your cards" %} {{ user.username }}:</h1>
            <ul>
                {% for account, cards in cards.items %}
                    <div class="mb-4 d-flex justify-content-between align-items-center">
                        <h3 class="caja2">{% trans "Cards from the account:" %} {{ account.account_name }}</h3>
                        <h5 class="total">{% trans "Account balance" %}: {{ account.balance }} €</h5>
                    </div>
                    {% for card in cards %}
                        <li class="card">
                            <div class="card-statistic-3 p-4">
                                <div class="mb-4 d-flex justify-content-between align-items-center">
                                    <h3 class="card-title mb-0"><a href="{{ card.get_absolute_url }}"> {{ card.card_name }}</a></h3>
                                </div>
                            </div>
                            <div class="card-statistic-3 p-4">
                                <div class="mb-4 d-flex justify-content-between align-items-center">
                                    <h3 class="card-title mb-0">Card code: </h3>
                                    <h5 class="total"> {{ card.card_code }} </h5>
                                    <p><a class="btn btn-primary" href="{% url 'card_edit' card.id %}">{% trans "Edit your Card" %}</a></p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        <div style="margin-left: 83%; margin-top: 1%;">
            <a class="btn btn-secondary" href="{% url 'create_card' %}">{% trans "Create cards" %}</a>
        </div>
        {% else %}
        <div class="caja">
            <h3>{% trans "You do not have cards" %} <span style="color: rgb(38, 0, 255)">{{ user.username }}</span>, {% trans "create some with the following" %} <a style="color: rgba(28, 28, 247, 0.651)" href="{% url 'create_card' %}">{% trans "link" %}</a></h3>
        </div>
    {% endif %}
{% endblock %}
