{% extends "base.html" %}
{% load static %}
{% load svg %}
{% block title %}Log-in{% endblock %}
{% block content %}
<div class="main">

    <div class="container-fluid">
            
        <div class="container">
        <div class="row py-5 mt-4 align-items-center">
            <!-- For Demo Purpose -->
            <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
                <!-- LOGO -->
                <img src="{% static 'img/logo1.jpg' %}" height="350px" width="350px" alt="" class="img-fluid mb-3 d-none d-md-block">
                <h1>Log In</h1>
            </div>

            <!-- Registeration Form -->
            <div class="col-md-7 col-lg-6 ml-auto">
                    <div class="row">
                        {% if forms.errors  %}
                            <p>Your username and password didn't match.
                            Please, try again.
                            </p>
                        {% endif %}
                        <form action="{% url 'login' %}" method="post">
                            {{ form.as_p }}
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}" />
                            <p><input type="submit" value='Log In' class="btn btn-primary btn-block py-2"></p>
                            <hr>
                            <p class="text-muted font-weight-bold">¿Don't have and account? <a href="{% url 'register' %}" class="text-primary ml-2">Regsiter</a></p>
                        </form>
                    </div>
            </div>
        </div>  
    </div>
{% endblock %}