{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
<div class="main">

    <div class="container-fluid">
            
        <div class="container">
        <div class="row py-5 mt-4 align-items-center">
            <!-- For Demo Purpose -->
            <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
                <!-- LOGO -->
                <img src="../img/logo1.svg" alt="" class="img-fluid mb-3 d-none d-md-block">
                <h1 style="text-align: center;">Log In</h1>
            </div>

            <!-- Registeration Form -->
            <div class="col-md-7 col-lg-6 ml-auto">
                <form action="#">
                    <div class="row">
                        <!-- DNI -->
                        <div class="input-group col-md mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 448 512">
                                        <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                                    </svg>
                                </span>
                            </div>
                            <input id="firstName" type="text" name="DNI" placeholder="DNI" class="form-control bg-white border-left-0 border-md">
                        </div>
                        <!-- Password -->
                        <div class="input-group col-md-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 448 512">
                                        <path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/>
                                    </svg>                                    </svg>
                                </span>
                            </div>
                            <input id="firstName" type="password" name="password" placeholder="Password" class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!-- Password Confirmation -->
                        <div class="input-group col-md-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 448 512">
                                        <path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/>
                                    </svg>                                  
                                </span>
                            </div>
                            <input id="firstName" type="text" name="Confirmation" placeholder="Confirmation Password" class="form-control bg-white border-left-0 border-md">
                        </div>
                        
                        <!-- Submit Button -->
                        <div class="form-group col-lg-12 mx-auto mb-0">
                            <div class="font-weight-bold">
                                <a href="#" class="btn btn-primary btn-block py-2">Create your account</a>
                            </div>
                        </div>
                        <br><br>
                        <!-- New Account -->
                        <div class="text-center w-100">
                            <p class="text-muted font-weight-bold">Don't have an account? <a href="#" class="text-primary ml-2">Register</a></p>
                        </div>
                        
                    </div>
                </form>
            </div>
    </div>

{% endblock %}