{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
  <nav class="main-nav row" id="nav">
    <div class="row">
      <div class="col-1" style="text-align: center;">
        <img src="{% static 'img/logo1.jpg' %}" height="60px" width="60px" alt="" class="img-fluid mb-3 d-none d-md-block">
      </div>
      <div class="col-8">
        <div class="row menu-nav d-flex justify-content-end">
          <div class="col-md-2 col-sm-4 col-4"><a href="{% url 'main' %}">Inmuebles</a></div>
          <div class="col-md-2 col-sm-4 col-4"><a href="{% url 'main' %}">Hipotecas</a></div>
          <div class="col-md-2 col-sm-4 col-4"><a href="{% url 'main' %}">Jovenes</a></div>
          <div class="col-md-2 col-sm-4 col-4"><a href="{% url 'main' %}">Particulares</a></div>
          <div class="col-md-2 col-sm-4 col-4"><a href="{% url 'main' %}">Empresas</a></div>
          <div class="col-md-2 col-sm-4 col-4"><a href="{% url 'main' %}">Banca privada</a></div>
        </div>
      </div>
      <div class="col-3">
        <div class="row menu-nav-right d-flex justify-content-end">
          {% if request.user.is_authenticated %}
            <div class="col-md-5 col-sm-3 col-2"><a href="{% url 'logout' %}">Logout</a></div>
            <div class="col-md-3 col-sm-3 col-2"><a href="{% url 'dashboard' %}">Acceder al perfil</a></div>
          {% else %}
            <div class="col-md-5 col-sm-3 col-2"><a href="{% url 'register' %}">Sign Up</a></div>
            <div class="col-md-3 col-sm-3 col-2"><a href="{% url 'login' %}">Log In</a></div>
          {% endif %}
        </div>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="footer_area">
      <div class="container_footer">
          <div class="row footer_area">
              <!-- Single Widget-->
              <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-footer-widget section_padding_0_130">
                  <!-- Footer Logo-->
                  <div class="footer-logo mb-3"></div>
                  <p>Appland is completely creative, lightweight, clean app landing page.</p>
                  <!-- Copywrite Text-->
                  <div class="copywrite-text mb-5">
                    <p class="mb-0">Made with <i class="lni-heart mr-1"></i>by<a class="ml-1" href="https://wrapbootstrap.com/user/DesigningWorld">Designing World</a></p>
                  </div>
                  <!-- Footer Social Area-->
                  <div class="footer_social_area"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype"><i class="fa fa-skype"></i></a><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></div>
                </div>
              </div>
              <!-- Single Widget-->
              <div class="col-12 col-sm-6 col-lg">
                <div class="single-footer-widget section_padding_0_130">
                  <!-- Widget Title-->
                  <h5 class="widget-title">About</h5>
                <!-- Footer Menu-->
                  <div class="footer_menu">
                      <ul>
                      <li><a href="#">About Us</a></li>
                      <li><a href="#">Corporate Sale</a></li>
                      <li><a href="#">Terms &amp; Policy</a></li>
                      <li><a href="#">Community</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Single Widget-->
              <div class="col-12 col-sm-6 col-lg">
                <div class="single-footer-widget section_padding_0_130">
                  <!-- Widget Title-->
                  <h5 class="widget-title">Support</h5>
                  <!-- Footer Menu-->
                  <div class="footer_menu">
                      <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Term &amp; Conditions</a></li>
                        <li><a href="#">Help &amp; Support</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Single Widget-->
                <div class="col-12 col-sm-6 col-lg">
                  <div class="single-footer-widget section_padding_0_130">
                    <!-- Widget Title-->
                    <h5 class="widget-title">Contact</h5>
                    <!-- Footer Menu-->
                    <div class="footer_menu">
                      <ul>
                        <li><a href="#">Call Centre</a></li>
                        <li><a href="#">Email Us</a></li>
                        <li><a href="#">Term &amp; Conditions</a></li>
                        <li><a href="#">Help Center</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
</body>
</html>