{% extends "base.html" %}
{% block title %}Your accounts {% endblock %}
{% block content %}
<div style="margin-left: 10%; margin-right:10%;">
    <h1>Your accounts {{ user.username }}:</h1>
    <ul>
        {% for account in accounts %}
            <li class="card">
                <div class="card-statistic-3 p-4">
                    <div class="mb-4 d-flex justify-content-between align-items-center">
                        <h3 class="card-title mb-0"><a href="{{ account.get_absolute_url }}"> {{ account.account_name }}</a></h3> <!-- Cambiar URL por account_datail -->
                        <h5 class="total"> {{ account.account_balance }} </h5>
                    </div>
                </div>
                <div class="card-statistic-3 p-4">
                    <div class="mb-4 d-flex justify-content-between align-items-center">
                        <h3 class="card-title mb-0">Account code: </h3>
                        <h5 class="total"> {{ account.account_code }} </h5>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
