{% extends "base.html" %}
{% block title %}Your accounts {% endblock %}
{% block content %}
<div style="margin-left: 10%; margin-right:10%;">
    <h1>Your cards {{ user.username }}:</h1>
    <ul>
        {% for card in cards %}
            <li class="card">
                <div class="card-statistic-3 p-4">
                    <div class="mb-4 d-flex justify-content-between align-items-center">
                        <h3 class="card-title mb-0"><a href="{% url 'dashboard' %}"> {{ card.card_account_name }}</a></h3> <!-- Cambiar URL por account_datail -->
                    </div>
                </div>
                <div class="card-statistic-3 p-4">
                    <div class="mb-4 d-flex justify-content-between align-items-center">
                        <h3 class="card-title mb-0">Card code: </h3>
                        <h5 class="total"> {{ Card.card_account_code }} </h5>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
    <h1>Your cards {{ user.username }}:</h1>
    <ul>
        {% for card in cards %}
            <li>{{ card.card_account_code }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
