{% extends "base.html" %}
{% block title %}Edit your profile{% endblock %}
{% block content %}
<h1>Edit your profile</h1>
<div class="form col-md-7 col-lg-6 ml-auto">
<p>You can edit your profile using the following form:</p>
        <div class="row">
            {% if forms.errors  %}
                <p>Your username and password didn't match.
                Please, try again.
                </p>
            {% endif %}
            <form action="{% url 'login' %}" method="post">
                {{ user_edit_form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <p><input type="submit" value="Save changes"></p>
                <hr>
            </form>
        </div>
</div>
{% endblock %}