<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media_query.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <title>Bank</title>
</head>
<body>
    <div class="container-fluid">
        
        <br>
        <div class="risk">
            <div class="row d-flex justify-content-center">
                <div class="risk1 col-6 col-md-4">
                    <p class="inside-risk-container d-flex"><span class="risk-n">1/6</span><br>
                        Este número es indicativo del riesgo del producto, 
                        siendo 1/6 indicativo de menor riesgo y 6/6 de mayor riesgo. 
                    </p>
                </div>
                <div class="risk2 col-6 col-md-4 ">
                    <p class="inside-risk-container">
                        A.M.Y.X Bank está adscrito al Fondo de Garantía de Depósitos de Entidades de Crédito. 
                        Para depósitos en dinero el importe máximo garantizado es de 100.000 euros por depositante en cada entidad de crédito. 
                    </p>
                </div>
            </div>
        </div>
        <header class="showcase">
            <div class="img-elements">
                <img src="../img/logo1.svg" alt="" class="imag">
            </div>
        </header>
        <div class="content">
            <div class="content-img">
                <img src="../img/logo1.svg" alt="" class="imag">
            </div>
            <div class="products">
                <div class="row">
                    <div class="col-md-4 d-sm-none d-lg-block">
                        <div class="product1">
                            <img src="../img/logo1.svg" alt="" class="imag">
                        </div>
                    </div>
                    <div class="col-md-4 d-sm-none d-lg-block">
                        <div class="product1">
                            <img src="../img/logo1.svg" alt="" class="imag">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product1">
                            <img src="../img/logo1.svg" alt="" class="imag">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="product1">
                            <img src="../img/logo1.svg" alt="" class="imag">
                        </div>
                    </div>
                    <div class="col-md-4 d-none d-lg-block">
                        <div class="product1">
                            <img src="../img/logo1.svg" alt="" class="imag">
                        </div>
                    </div>
                    <div class="col-md-4 d-none d-lg-block">
                        <div class="product1">
                            <img src="../img/logo1.svg" alt="" class="imag">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <header class="showcase">
            <div class="img-elements">
                <img src="../img/logo1.svg" alt="" class="imag_showcase">
                <img src="../img/logo1.svg" alt="" class="imag_showcase">
                <img src="../img/logo1.svg" alt="" class="imag_showcase d-sm-none d-lg-block">
            </div>
        </header>


</body>
</html>