<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media_query.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <title>Bank</title>
</head>
<body>
    <div class="container-fluid">

    <nav class="main-nav row" id="nav">
      <div class="row">
        <div class="col-1">
          <a href="#"><img src="../img/logo1.svg" alt="LOGO" class="nav-brand d-none d-md-block logo"></a>
        </div>
        <div class="col-8">
          <div class="row menu-nav d-flex justify-content-end">
            <div class="col-md-2 col-sm-4 col-4"><a href="#">Inmuebles</a></div>
            <div class="col-md-2 col-sm-4 col-4"><a href="#">Hipotecas</a></div>
            <div class="col-md-2 col-sm-4 col-4"><a href="#">Jovenes</a></div>
            <div class="col-md-2 col-sm-4 col-4"><a href="#">Particulares</a></div>
            <div class="col-md-2 col-sm-4 col-4"><a href="#">Empresas</a></div>
            <div class="col-md-2 col-sm-4 col-4"><a href="#">Banca privada</a></div>
          </div>
        </div>
        <div class="col-3">
          <div class="row menu-nav-right d-flex justify-content-end">
            <div class="col-md-5 col-sm-3 col-2"><a href="register.html">Registrarse</a></div>
            <div class="col-md-3 col-sm-3 col-2"><a href="login.html">Log In</a></div>
            <div class="col-md-3 col-sm-3 col-2"><a href="profile.html">Acceder al perfil</a></div>
          </div>
        </div>
      </nav>
    </div>
        
        <br>
        <div class="risk">
            <div class="row d-flex justify-content-center">
                <div class="risk1 col-6 col-md-4">
                    <p class="inside-risk-container d-flex"><span class="risk-n">1/6</span><br>
                        Este número es indicativo del riesgo del producto, 
                        siendo 1/6 indicativo de menor riesgo y 6/6 de mayor riesgo. 
                    </p>
                </div>
                <div class="risk2 col-6 col-md-4 ">
                    <p class="inside-risk-container">
                        A.M.Y.X Bank está adscrito al Fondo de Garantía de Depósitos de Entidades de Crédito. 
                        Para depósitos en dinero el importe máximo garantizado es de 100.000 euros por depositante en cada entidad de crédito. 
                    </p>
                </div>
            </div>
        </div>
        <header class="showcase">
            <div class="img-elements">
                <img src="../img/logo1.svg" alt="" class="imag">
            </div>
        </header>
        <div class="content">
            <div class="content-img" style="border: solid 1px black;">
                <img src="../img/logo1.svg" alt="" class="imag">
            </div>
            <div class="products">
                <div class="row">
                    <div class="col-md-4">
                        <div class="product1">
                            <img src="../img/logo1.svg" alt="" class="imag" id="cuadro_img">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product1">
                            <img src="../img/logo1.svg" alt="" class="imag" id="cuadro_img">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product1">
                            <img src="../img/logo1.svg" alt="" class="imag" id="cuadro_img">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="product1">
                            <img src="../img/logo1.svg" alt="" class="imag" id="cuadro_img">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product1">
                            <img src="../img/logo1.svg" alt="" class="imag" id="cuadro_img">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product1">
                            <img src="../img/logo1.svg" alt="" class="imag" id="cuadro_img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <header class="showcase">
            <div class="img-elements">
                <img src="../img/logo1.svg" alt="" class="imag">
                <img src="../img/logo1.svg" alt="" class="imag">
                <img src="../img/logo1.svg" alt="" class="imag">
            </div>
        </header>

        <footer class="footer_area section_padding_130_0">
            <div class="container_footer">
              <div class="row footer_area">
                <!-- Single Widget-->
                <div class="col-12 col-sm-6 col-lg-4">
                  <div class="single-footer-widget section_padding_0_130">
                    <!-- Footer Logo-->
                    <div class="footer-logo mb-3"></div>
                    <p>Appland is completely creative, lightweight, clean app landing page.</p>
                    <!-- Copywrite Text-->
                    <div class="copywrite-text mb-5">
                      <p class="mb-0">Made with <i class="lni-heart mr-1"></i>by<a class="ml-1" href="https://wrapbootstrap.com/user/DesigningWorld">Designing World</a></p>
                    </div>
                    <!-- Footer Social Area-->
                    <div class="footer_social_area"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype"><i class="fa fa-skype"></i></a><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></div>
                  </div>
                </div>
                <!-- Single Widget-->
                <div class="col-12 col-sm-6 col-lg">
                  <div class="single-footer-widget section_padding_0_130">
                    <!-- Widget Title-->
                    <h5 class="widget-title">About</h5>
                    <!-- Footer Menu-->
                    <div class="footer_menu">
                      <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Corporate Sale</a></li>
                        <li><a href="#">Terms &amp; Policy</a></li>
                        <li><a href="#">Community</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Single Widget-->
                <div class="col-12 col-sm-6 col-lg">
                  <div class="single-footer-widget section_padding_0_130">
                    <!-- Widget Title-->
                    <h5 class="widget-title">Support</h5>
                    <!-- Footer Menu-->
                    <div class="footer_menu">
                      <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Term &amp; Conditions</a></li>
                        <li><a href="#">Help &amp; Support</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Single Widget-->
                <div class="col-12 col-sm-6 col-lg">
                  <div class="single-footer-widget section_padding_0_130">
                    <!-- Widget Title-->
                    <h5 class="widget-title">Contact</h5>
                    <!-- Footer Menu-->
                    <div class="footer_menu">
                      <ul>
                        <li><a href="#">Call Centre</a></li>
                        <li><a href="#">Email Us</a></li>
                        <li><a href="#">Term &amp; Conditions</a></li>
                        <li><a href="#">Help Center</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </footer>

</body>
</html>