<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media_query.css">
    <title>Bank</title>
</head>
<body>
    <div class="container-fluid">

    <nav class="main-nav">
        <a href="#"><img src="" alt="LOGO" class="nav-brand d-none d-md-block"></a>
        <div class="row menu-nav d-flex justify-content-left" id="nav">
            <div class="col-md-2 col-sm-4 col-4"><a href="#">Inmuebles</a></div>
            <div class="col-md-2 col-sm-4 col-4"><a href="#">Hipotecas</a></div>
            <div class="col-md-2 col-sm-4 col-4"><a href="#">Jovenes</a></div>
            <div class="col-md-2 col-sm-4 col-4"><a href="#">Particulares</a></div>
            <div class="col-md-2 col-sm-4 col-4"><a href="#">Empresas</a></div>
            <div class="col-md-2 col-sm-4 col-4"><a href="#">Banca privada</a></div>
        </div>
        <div class="invisible d-md-none d-sm-block offset-sm-12 "></div>
        <div class="row menu-nav-right">
            <div class="col-md-6 col-sm-3 col-2"><a href="#">Registrarse</a></div>
            <div class="col-md-6 col-sm-3 col-2"><a href="#">Acceder al perfil</a></div>
        </div>
    </nav>
        
        <br>
        <div class="risk">
            <div class="row d-flex justify-content-center">
                <div class="risk1 col-6 col-md-4">
                    <p class="risk-n">1/6 <br>
                        Este número es indicativo del riesgo del producto, 
                        siendo 1/6 indicativo de menor riesgo y 6/6 de mayor riesgo. 
                    </p>
                </div>
                <div class="risk2 col-6 col-md-4 ">
                    <p class="risk-n">
                        A.M.Y.X Bank está adscrito al Fondo de Garantía de Depósitos de Entidades de Crédito. 
                        Para depósitos en dinero el importe máximo garantizado es de 100.000 euros por depositante en cada entidad de crédito. 
                    </p>
                </div>
            </div>
        </div>
        <header class="showcase">
            <div class="img-elements">
                <img src="img/1.jpg" alt="" class="imag">
            </div>
        </header>
        <div class="content">
            <div class="content-img" style="border: solid 1px black;">
                <img src="img/4.jpg" alt="" class="imag">
            </div>
            <div class="products">
                <div class="product1">
                    Imagen
                </div>
                <div class="product2">
                    Imagen
                </div>
                <div class="product3">
                    Imagen
                </div>
                <div class="product4">
                    Imagen
                </div>
                <div class="product5">
                    Imagen
                </div>
                <div class="product6">
                    Imagen
                </div>
            </div>
        </div>
        <header class="showcase">
            <div class="img-elements">
                <img src="img/1.jpg" alt="" class="imag">
                <img src="img/2.jpg" alt="" class="imag">
                <img src="img/3.jpg" alt="" class="imag">
            </div>
        </header>
        <footer>
            <div class="cont1">
                <p>Web corporativa</p>
                <p>A.M.Y.X Clientes</p>
                <p>A.M.Y.X Inmuebles</p>
                <p>Finanzas personales</p>
            </div>
            <div class="cont2">
                <p>Aviso legal</p>
                <p>Informacion de Protección de datos</p>
                <p>Política de cookies</p>
                <p>Tablón de anuncios</p>
            </div>
            <div class="cont3">
                <p>Accesibilidad</p>
                <p>Seguridad online</p>
                <p>Ley de crédito inmobiliario</p>
                <p>Regulación de Sostenibilidad</p>
            </div>
            <div class="cont4">
                <p>Calcular hipoteca</p>
                <p>Calculadora de IVA</p>
                <p>Trabaja con nosotros</p>
                <p>Horario de oficinas</p>
            </div>
        </footer>
    </div>
</div>

</body>
</html>